html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url("./images/background.gif");
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 0.625em;
    font-size: 1.25rem;
}

i{
    font-size: 0.9375rem;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 18.125em;
    margin: 0 auto;
}

header{
    padding-bottom: 1.5625em;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 0.625em;
    margin: 0 0 1.25em 0;
    height: 3.75em;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.875em;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 0.625em 1.1875em;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
}

button:hover,
button:focus {
    box-shadow: 0px 0px 10px black;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 1.25em 0 0 0;
    width: 100%;
    margin: 0.9375em 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 0.625em;
}

.tweet-details{
    display: flex;
    font-size: 0.8125rem;
    justify-content: space-between;
    width: 10em;
}

.tweet-detail{
    display: flex;
    gap: 0.25em;
    margin: 0.5em;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 1.25em 0 0 0;
    margin: 0.625em 0 0.625em 2.5em;
    width: 80%;
}

.handle{
    font-size: 0.75rem;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 12.93em;
    font-size: 1rem;
    line-height: 1.25em;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 3em;
    max-width: 100%;
}

/* utility */
.hidden{
    display: none;
}

.replyText{
    margin: 0.625em 0 0.625em 0;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.deleteBtn{
    background-color: red;
    font-size: 0.75rem;
    padding: 0.5em;
    margin: 0.5em;
}

.container{
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 0px 10px black;
    margin: 5% auto;
    padding: 0.9375em 0px;
    border-radius: 30px;
    background: white;
}
